<section class="container pt-5 ">
    <div class="row mt-5 col-10 m-auto">
        <div class="text-center">
            <h2 class="text-muted">Edit Products</h2>
        </div>
        <form action="/admin/editProduct/{{product._id}}" enctype="multipart/form-data" method="post">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" name="Name" class="form-control" placeholder="Name" value="{{product.Name}}"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <input type="text" name="Category" class="form-control" placeholder="Category"value="{{product.Category}}" />
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="text" name="Price" class="form-control" placeholder="Price" value="{{product.Price}}"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" name="Description" class="form-control" placeholder="Description" value="{{product.Description}}"/>
            </div>
            <div class="mb-3">
                <img src="/images/product/{{product._id}}.jpg"style="width:5em;height:6em"  id="V"/>
                <label class="form-label">Upload 4 Images in (.jpg) format</label>
                <input type="file" name="image1" class="form-control mb-2" placeholder="Image 1" onchange="Img(event)" />
                <input type="file" name="image2" class="form-control mb-2" placeholder="Image 2" />
                <input type="file" name="image3" class="form-control mb-2" placeholder="Image 3" />
                <input type="file" name="image4" class="form-control mb-2" placeholder="Image 4" />
            </div>

            <button type="submit" class="btn" style="background-color: #FFC6D1">Submit</button>
        </form>
    </div>
</section>
<script>
    function Img(event) {
        document.getElementById("V").src = URL.createObjectURL(event.target.files[0])
    }
</script>