<section class="mt-5 pt-5">
    <div class="container-fluid">
        <h1 class="t b text-muted">Ordered products</h1><hr />
        {{#each products}}
        <div class="card mb-3 m-auto" style="max-width:70%;">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <img src="/images/product/{{this.product._id}}.jpg" class="card-img"style="height:100%;" alt="...">
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="card-body text-muted">
                        <h5 class="card-title">Item: {{this.product.Name}}</h5>
                        <h5 class="card-title">Price: ₹{{this.product.Price}}</h5>
                        <p><h6 class="card-title">Quantity: {{this.quantity}}</h6></p>
                        <p class="card-text">{{this.product.Description}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>